/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#carto-map {
  height: 50vh;
  width: 100%;
  
  .marker {
    width: 28px;
    height: 28px;
    cursor: pointer;

    text-align: center;
    color:white;
    font-size: 14px;
    line-height: 28px;
  }
  marker img {
    background: white;
    border-radius: 50px;
  }

  .mapWrapper {
    position: relative;
    height: 100%;
  }
  .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
