- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'map', integrity: true, crossorigin: 'anonymous'
  -# <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />


.grid-4
  .column-0
    .row
      -# Mount point for map (see app/javascript/packs/map.js:11)
      #carto-map{ data: { props: Oj.dump({ markers: @accounts}) } }

.page-header
  <h1>List of local users and remote</h1>

- if @accounts.empty?
  = nothing_here
- else
  .directory__list
    - @accounts.each do |account|
      .directory__card
        .directory__card__img
          = image_tag account.header.url, alt: ''
        .directory__card__bar
          = link_to TagManager.instance.url_for(account), class: 'directory__card__bar__name' do
            .avatar
              = image_tag account.avatar.url, alt: '', class: 'u-photo'

            .display-name
              %bdi
                %strong.emojify.p-name= display_name(account, custom_emojify: true)
              %span= acct(account)
          .directory__card__bar__relationship.account__relationship
            = minimal_account_action_button(account)

        .directory__card__extra
          .account__header__content.emojify= Formatter.instance.simplified_format(account, custom_emojify: true)

        .directory__card__extra
          .accounts-table__count
            = number_to_human account.statuses_count, strip_insignificant_zeros: true
            %small= t('accounts.posts', count: account.statuses_count).downcase
          .accounts-table__count
            = number_to_human account.followers_count, strip_insignificant_zeros: true
            %small= t('accounts.followers', count: account.followers_count).downcase
          .accounts-table__count
            - if account.last_status_at.present?
              %time.time-ago{ datetime: account.last_status_at.to_date.iso8601, title: l(account.last_status_at.to_date) }= l account.last_status_at.to_date
            - else
              = t('accounts.never_active')

            %small= t('accounts.last_active')
